html {
  	height: 100%;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  background: #8e2de2;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

#todolist {
  left: 50%;
  position: absolute;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

ul {  
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  list-style: none;
}

li {
	padding-top: 5px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 4px 5px;
    color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: 'Montserrat', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-family: 'Montserrat', sans-serif;
}

div {
	margin-bottom: 20px;
}

button{
    background: transparent;
    border: 2px solid #fff;
    padding: 4px 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	cursor: pointer;
	padding: 6px 20px;
	width: 180px;
}

button:hover{
    background: #fff;
    color: black;
}

ul button {
	width: auto;
	margin-left: 30px;
}

